asgiref==3.2.10
backcall==0.2.0
decorator==4.4.2
dj-database-url==0.5.0
dj-email-url==1.0.1
Django==3.0.8
django-cache-url==3.1.2
environs==8.0.0
gunicorn==20.0.4
ipdb==0.13.3
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
marshmallow==3.7.1
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
traitlets==4.3.3
wcwidth==0.2.5
whitenoise==5.2.0
